.hoja1{
    height: 627px;
    margin: 0;
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.116);
    
    .foto-cv{
        position: absolute;
        left: 670px;
        top: 0;
        z-index: -1;



    .main{
        margin: 0;

    }

    }
    .main-menu{
        position: absolute;
        left: 718px;
        top: 11px;
        z-index: 0;
        font-size: 20px;

      


    }


    .main_contact{
        position: absolute;
        left: 53px;
        top: 11px;
        width: 60px;
        font-size: 20px;


    }

    .name{
    
        font-size: 115px;
        width: 387px;
        height: 287px;
        margin: 0 0 0 35px;   

    }
    .front-end{
    
        font-size:28px;
        margin: 54px 0 0 37px;
    
    }
    
    .name-front{

        margin: 140px 0 0 0;

    
    }
    
    .main_imglink{
    

        position:absolute;
        left: 250px;
        top: 3px;

       
    
    }
    #whatsapp{
        position:absolute;
        left: -50px;
        top: -4px;

        


    }

 

}